adf-ipl-portfolio/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-ipl-portfolio"
		},
		"SqlServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer1'"
		},
		"SqlServer_hl_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer_hl'"
		},
		"AzureBlobStorage1_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://iplstorage2026.blob.core.windows.net/"
		},
		"SqlServer1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost\\SQLEXPRESS01,1433"
		},
		"SqlServer1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ipl-set"
		},
		"SqlServer1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "crd-srv"
		},
		"SqlServer_hl_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "192.168.10.224"
		},
		"SqlServer_hl_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "player_profile"
		},
		"SqlServer_hl_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sehaj"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_MAIN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "adls_to_sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"Match_No"
									]
								},
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Match_No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Match_No",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Day",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Day",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Time",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Time",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Venue",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Venue",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Venue_state",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Venue_state",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Venue_city",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Venue_city",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Team1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Team1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Team1_impact_player",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Team1_impact_player",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Team2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Team2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Team2_impact_player",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Team2_impact_player",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Match_stage",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Match_stage",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Toss_winner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Toss_winner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Toss_winner_decision",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Toss_winner_decision",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "First_ings_score",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "First_ings_score",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "First_ings_wickets",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "First_ings_wickets",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Second_ings_score",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Second_ings_score",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Second_ings_wickets",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Second_ings_wickets",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Match_winner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Match_winner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Won_by",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Won_by",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Margin",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Margin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Player_of_the_match",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Player_of_the_match",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "top_scorer",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "top_scorer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Batsman_highscore",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Batsman_highscore",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Best_bowling",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Best_bowling",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Best_bowling_figure",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Best_bowling_figure",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Match_first_over",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Match_first_over",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL",
								"type": "DatasetReference",
								"parameters": {
									"pSchema": "dbo",
									"pTable": "IplData"
								}
							}
						]
					},
					{
						"name": "Stored procedure Fact",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stored procedure Venue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[GetFactMatch]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored procedure Team",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stored procedure Player",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[GetTeams]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored procedure Venue",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stored procedure Team",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[GetVenue]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored procedure Player",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "adls_to_sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Getplayers]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sql_to_sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_ONPREM",
								"type": "DatasetReference",
								"parameters": {
									"pSchema": "dbo",
									"pTable": "IPL_2026_player_profile"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL",
								"type": "DatasetReference",
								"parameters": {
									"pSchema": "dbo",
									"pTable": "playerprofile"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-29T07:38:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL')]",
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_ONPREM')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "IPL_2026_Data.csv",
						"container": "ipl-s-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Match_No",
						"type": "String"
					},
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Day",
						"type": "String"
					},
					{
						"name": "Time",
						"type": "String"
					},
					{
						"name": "Venue",
						"type": "String"
					},
					{
						"name": "Venue_state",
						"type": "String"
					},
					{
						"name": "Venue_city",
						"type": "String"
					},
					{
						"name": "Team1",
						"type": "String"
					},
					{
						"name": "Team1_impact_player",
						"type": "String"
					},
					{
						"name": "Team2",
						"type": "String"
					},
					{
						"name": "Team2_impact_player",
						"type": "String"
					},
					{
						"name": "Match_stage",
						"type": "String"
					},
					{
						"name": "Toss_winner",
						"type": "String"
					},
					{
						"name": "Toss_winner_decision",
						"type": "String"
					},
					{
						"name": "First_ings_score",
						"type": "String"
					},
					{
						"name": "First_ings_wickets",
						"type": "String"
					},
					{
						"name": "Second_ings_score",
						"type": "String"
					},
					{
						"name": "Second_ings_wickets",
						"type": "String"
					},
					{
						"name": "Match_winner",
						"type": "String"
					},
					{
						"name": "Won_by",
						"type": "String"
					},
					{
						"name": "Margin",
						"type": "String"
					},
					{
						"name": "Player_of_the_match",
						"type": "String"
					},
					{
						"name": "top_scorer",
						"type": "String"
					},
					{
						"name": "Batsman_highscore",
						"type": "String"
					},
					{
						"name": "Best_bowling",
						"type": "String"
					},
					{
						"name": "Best_bowling_figure",
						"type": "String"
					},
					{
						"name": "Match_first_over",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pSchema": {
						"type": "string"
					},
					"pTable": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Match_No",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Date",
						"type": "nvarchar"
					},
					{
						"name": "Day",
						"type": "nvarchar"
					},
					{
						"name": "Time",
						"type": "nvarchar"
					},
					{
						"name": "Venue",
						"type": "nvarchar"
					},
					{
						"name": "Venue_state",
						"type": "nvarchar"
					},
					{
						"name": "Venue_city",
						"type": "nvarchar"
					},
					{
						"name": "Team1",
						"type": "nvarchar"
					},
					{
						"name": "Team1_impact_player",
						"type": "nvarchar"
					},
					{
						"name": "Team2",
						"type": "nvarchar"
					},
					{
						"name": "Team2_impact_player",
						"type": "nvarchar"
					},
					{
						"name": "Match_stage",
						"type": "nvarchar"
					},
					{
						"name": "Toss_winner",
						"type": "nvarchar"
					},
					{
						"name": "Toss_winner_decision",
						"type": "nvarchar"
					},
					{
						"name": "First_ings_score",
						"type": "float",
						"precision": 15
					},
					{
						"name": "First_ings_wickets",
						"type": "nvarchar"
					},
					{
						"name": "Second_ings_score",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Second_ings_wickets",
						"type": "nvarchar"
					},
					{
						"name": "Match_winner",
						"type": "nvarchar"
					},
					{
						"name": "Won_by",
						"type": "nvarchar"
					},
					{
						"name": "Margin",
						"type": "nvarchar"
					},
					{
						"name": "Player_of_the_match",
						"type": "nvarchar"
					},
					{
						"name": "top_scorer",
						"type": "nvarchar"
					},
					{
						"name": "Batsman_highscore",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Best_bowling",
						"type": "nvarchar"
					},
					{
						"name": "Best_bowling_figure",
						"type": "nvarchar"
					},
					{
						"name": "Match_first_over",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pTable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('AzureBlobStorage1_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer1_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhosted-IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted-IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer_hl')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer_hl_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer_hl_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer_hl_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer_hl_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhosted-IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted-IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hlserver')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/selfhosted-IR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_ONPREM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer_hl",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pSchema": {
						"type": "string"
					},
					"pTable": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Match_No",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Date",
						"type": "nvarchar"
					},
					{
						"name": "Day",
						"type": "nvarchar"
					},
					{
						"name": "Time",
						"type": "nvarchar"
					},
					{
						"name": "Venue",
						"type": "nvarchar"
					},
					{
						"name": "Venue_state",
						"type": "nvarchar"
					},
					{
						"name": "Venue_city",
						"type": "nvarchar"
					},
					{
						"name": "Team1",
						"type": "nvarchar"
					},
					{
						"name": "Team1_impact_player",
						"type": "nvarchar"
					},
					{
						"name": "Team2",
						"type": "nvarchar"
					},
					{
						"name": "Team2_impact_player",
						"type": "nvarchar"
					},
					{
						"name": "Match_stage",
						"type": "nvarchar"
					},
					{
						"name": "Toss_winner",
						"type": "nvarchar"
					},
					{
						"name": "Toss_winner_decision",
						"type": "nvarchar"
					},
					{
						"name": "First_ings_score",
						"type": "float",
						"precision": 15
					},
					{
						"name": "First_ings_wickets",
						"type": "nvarchar"
					},
					{
						"name": "Second_ings_score",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Second_ings_wickets",
						"type": "nvarchar"
					},
					{
						"name": "Match_winner",
						"type": "nvarchar"
					},
					{
						"name": "Won_by",
						"type": "nvarchar"
					},
					{
						"name": "Margin",
						"type": "nvarchar"
					},
					{
						"name": "Player_of_the_match",
						"type": "nvarchar"
					},
					{
						"name": "top_scorer",
						"type": "nvarchar"
					},
					{
						"name": "Batsman_highscore",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Best_bowling",
						"type": "nvarchar"
					},
					{
						"name": "Best_bowling_figure",
						"type": "nvarchar"
					},
					{
						"name": "Match_first_over",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pTable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_hl')]"
			]
		}
	]
}